[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bottle = "*"
pandas = "*"
xlrd = "==1.1.0"
requests = "==2.18.4"
pusher = "*"
pytest = "*"
httpretty = "*"
rethinkdb = "*"
openpyxl = "==2.5.1"
Flask = "==0.12.2"
PyYAML = "==3.12"
Flask-Cors = "*"
XlsxWriter = "==1.0.2"

[dev-packages]

[requires]
python_version = "3.6"
