.fa.fa-spinner {
  margin-top: 3em;
  font-size: 3em;
}

.folder-view {
  border: green solid 1px;
  margin-top: 1em;
  width: 98%;
  padding: 1em;
  height: 75vh;

  .header {
    height: 3em;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #32b130;

    .fa.fa-search {
      padding-left: 0.5em;
    }

    .search {
      float: right;
      border-bottom: solid 1px #32b130;

      input {
        color: #0f7f0c;
        height: 3em;
        width: 15em;
        background: transparent;
        border: none;
        font-size: 0.9em;

        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: #0f7f0c;
          opacity: 1; /* Firefox */
        }

        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
          color: #0f7f0c;
        }

        &::-ms-input-placeholder { /* Microsoft Edge */
          color: #0f7f0c;
        }
      }

      i {
        font-size: 1.5em;
        color: #0f7f0c;
      }
    }

    .actions {
      text-align: left;
      padding-top: 0.5em;

      i {
        font-size: 1.5em;
        padding-right: .5em;

        &.fa-times {
          color: #ff5e55;
        }

        &.fa-window-maximize {
          color: #ffba2e;
        }

        &.fa-window-minimize {
          color: #30c641;
        }
      }
    }
  }

  .body {
    display: flex;
    background: white;

    .stats {
      width: 30%;
      text-align: right;
      border-left: solid 1px #227f20;
      height: 67vh;
      margin-left: 3em;

      .stats-header {
        border-bottom: solid 1px #227f20;
        width: 95%;
        padding-bottom: 0.5em;
        font-size: 1.5em;
      }

      .stats-content {
        padding-top: 0.5em;
        font-size: 1.1em;

        .row {
          padding-bottom: 0.3em;

          .fa.fa-percent {
            color: #30c641;
          }

          .fa.fa-files-o {
            color: #ffba2e;
          }

          .fa.fa-exclamation-circle {
            color: #ff5e55;
          }
        }

      }
    }

    .files {
      width: 70%;

      .no_results {
        text-align: center;
        font-size: 2em;
        padding-top: 25vh;
      }

      ul {
        padding: 0;
        margin: 0;

        .file {
          text-align: center;
          padding: 1em 1em 1.5em;
          font-size: 1em;
          display: inline-table;
          width: 25%;

          i {
            font-size: 2em;
          }

          a {
            color: black;
          }
        }
      }

    }
  }

}
