$border: #397614;

.file {
  border: solid 1px #397614;
  margin-top: 10px;
  height: 80vh;

  .file-header {
    text-align: center;
    background-color: #277647;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;

    .actions {
      display: inline;
      text-align: right;
      float: right;
      padding-right: 10px;
    }

    .filename {
      display: inline;
    }

    .actions-second {
      display: inline;
      float: left;
      padding-left: 10px;
    }
  }

  .results {
    overflow-y: scroll;
    height: 87%;

    table {
      border-collapse: collapse;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-right: 5px;
      width: 99%;

      thead {

        tr {

          td {
            border: solid 1px $border;
            background: #c5c5c5;
            color: #397614;
          }
        }
      }

      tbody {
        tr {
          td {
            border: solid 1px $border;
          }
        }
      }
    }
  }

  .tabs {
    white-space: nowrap;
    overflow-x: auto;

      div {
        list-style-type: none;
        padding: 5px 10px;
        border: solid 1px $border;
        border-bottom: none;
        border-left: none;
        display: table-cell;

        a {
          cursor: pointer;
        }

        &.active {
          border-color: $border;
          background: #277647;
          color: white;
        }

        &.first {
          border-right: none;
        }

        &.last {
          border-left: none;
        }
    }
  }
}
