<nav>
  <div class="container" fxLayout="row" fxLayoutAlign="space-between center">
    <a id="logo" fxFlex="30" [routerLink]="['/']">
      <!--<img src="/assets/logo.svg" alt="Open Pension Logo">-->
      משה
    </a>
    <div fxFlex="40" fxLayout="column">
      <div class="links">
        <ul fxLayout="row" fxLayoutAlign="space-between">
          <li>
            <a [routerLink]="['/info']">
              <i class="fa fa-info" aria-hidden="true"></i>
              איך זה עובד?
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
